.footer_container {
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  color: #333333;
  font-size: 14px;
  margin-top: auto;
  flex-shrink: 0;
  padding: 0 10px;
}

.privacy_policy_link {
  text-decoration: none;
  grid-column: 2;
  justify-self: center;
}

.privacy_policy_link:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s;
  color: #3464c4;
}

.copyrights {
  margin-left: 0;
  grid-column: 3;
  justify-self: end;
}

@media (max-width: 700px) {
  .footer_container {
    display: block;
    text-align: center;
    align-items: center;
  }

  .privacy_policy_link {
    grid-column: unset;
    justify-self: center;
    margin: 0;
  }
  
  .copyrights {
    margin: 10px 0 0 0;
    grid-column: unset;
    justify-self: center;
  }
}