.privacyPolicy_container {
  max-width: 860px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  text-align: center;
}

.privacyPolicy_title {
  font-size: 42px;
  margin-bottom: 10px;
  text-align: center;
}

.privacyPolicy_section {
  margin-bottom: 30px;
  font-size: 17px;
}

.privacyPolicy_sectionTitle {
  font-size: 28px;
  margin-bottom: 10px;
  color: #3464c4;
}

.privacyPolicy_paragraph {
  margin-bottom: 15px;
  font-size: 17px;
  color: #333333;
}

.email_link:hover{
  text-align: center;
  color: #3464c4;
  cursor: pointer;
  font-weight: 400;
  transition: 0.2s;
}