.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background: #fff;
    padding: 0 120px;
}

.user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.settings_button {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    width: 30px;
    height: 30px;
}

.logout_button {
    background: #fff;
    color: #000;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    width: 90px;
}

.logout_button:hover {
    background: #f5f5f5;
}

.auth_button {
    background: #427ffa;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    width: 90px;
    text-align: center;
}

a.settings_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth_button:hover {
    background: #1a5fe0;
}

@media screen and (max-width: 900px) {
    .navBar {
        padding: 0 20px;
    }

    .user {
        gap: 10px;
    }

    .settings_button {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 400px) {
    .navBar {
        padding: 0 10px;
    }

    .user_icon {
        width: 30px;
        height: 30px;
    }
}