.settings_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
  
}

.settings_container h1 {
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  text-align: center;
}

.settings_form {
  width: 100%;
  max-width: 500px;
  padding: 25px;
  border-radius: 12px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

.input_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input_container label {
  font-weight: bold;
  margin-bottom: 10px;
}

.input_div {
  display: flex;
  flex-direction: row;
  position: relative;
}

.input_div input,
.input_div select {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
  transition: border 0.2s ease;
  width: 100%;
  padding-right: 36px;
}

.showPassword_btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  z-index: 2;
}

.showPassword_btn img {
  width: 20px;
  height: 20px;
}

.buttons_container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.change_password_link {
  display: block;
  text-align: center;
  color: #427ffa;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s;
}

.change_password_link:hover {
  text-decoration: underline;
  color: #3464c4;
  transition: 0.2s;
}

.confirm_btn {
  background: #427ffa;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  width: 160px;
}

.confirm_btn:hover {
  background: #3464c4;
  transform: scale(1.05);
}

.redirect_btn {
  background: #e5e7eb;
  color: #111;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  width: 160px;
}

.redirect_btn:hover {
  background: #d1d5db;
  transform: scale(1.02);
}

.error_message {
  color: #dc2626;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  animation: errorPopup 0.6s ease forwards;
  z-index: 1;
}

@keyframes errorPopup {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 600px) {
  .buttons_container {
    flex-direction: column;
    align-items: stretch;
  }
  .confirm_btn {
    width: 100%;
  }

  .redirect_btn {
    width: 100%;
  }
}