.event {
    margin: 50px 0px;
}

.event_container {
    display: flex;
    align-items: center;
}

.delete {
    margin-left: 20px;
}

.main_event {
    padding: 20px;
    background: #fff;
    width: 100%;
    border-radius: 20px;
}

.date {
    margin-left: 10px;
    margin-bottom: 10px;
}

.event_detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event_detail div {
    margin: 0 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hour_case {
    width: 20%;
}

.category_case {
    width: 20%;
}

.topic_case {
    width: 40%;
}

.state_case {
    width: 20%;
}

p.category {
    width: 100%;
    font-size: 15px;
    padding: 8px 12px;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
}

h4.title {
    font-size: 18px;

}

.state {
    padding: 6px;
    border-radius: 20px;
    text-decoration: none;
    border: none;
    width: 60px;
    cursor: pointer;
    transition: 0.2s;
}

.state:hover {
    opacity: 0.8;
}

.delete {
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.delete img {
    width: 35px;
    height: auto;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px ;
}

.pagination p {
  margin: 0;
  font-weight: bold;
  color: #000;
}

.pagination button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 50px;
  height: 36px;
  cursor: pointer;
  transition: 0.2s;
}

.pagination button img {
  width: 18px;
  height: 18px;
}

.pagination button:hover:not(:disabled) {
  background: #f5f7ff;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.loading_container {
    display: flex;
    justify-content: center;
    width: 600px;
    margin-top: 100px;
}

.loading_container img {
    animation: spin 1s linear infinite;
}

.no_events {
    margin-top: 10px;
}

.error {
    margin-top: 10px;
}

@media screen and (max-width: 800px) {
    .event_detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .event_detail div {
        min-width: 160px;
        margin: 0 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .delete img {
        width: 35px;
    }

    .loading_container {
        width: 100%;

    }
}

@media screen and (max-width: 500px) {
    .no_events {
        margin-top: 20px;
        text-align: center;
    }

    .error {
        margin-top: 20px;
        text-align: center;
    }

    .pagination {
        justify-content: center;
    }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
